*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.space-bet{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

header{
    width: 100%;
}

nav{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 10px;
}

.btn{
    padding: 10px; 
}

.btn-white{
    background-color: white;
    color: black;
    border: 1px solid white;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
    border: 1px solid #0061ff;
}

ul li{
    display: inline-block;
    text-align: center;
    padding: 7px;
}

.menu-1 > li{
    padding-bottom: 10px;
}



h1{
    font-size: 70px;
    text-align: left;
    padding: 10px 40px;
}

#cont-centr{
    padding-top: 100px;
    background-color: #b4d0e7;
}

.container{
   width: 60%;
   margin: 0 auto;
}

.title{
    margin-bottom: 30px;
}

.box-text{
    width: 35%;
}

.but-prova{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0061ff;
    color: white;
    border: 1px solid #0061ff;
}

.box-img{
    width: 60%;
   
}

.box-img img{
    height: 400px;
}



